<apex:page standardController="Account" extensions="inlineAccountRevenue" lightningStylesheets="true">
   <style>
    .activeTab {background-color: #236FBD; color:white; background-image:none}
    .inactiveTab { background-color: lightgrey; color:black; background-image:none}
    </style>
    <apex:form id="frmId">
    <div style="text-align:left">
        <!--<apex:form>-->      
        <apex:commandButton value="Revenue Trend Report" onclick="open_winRevTrend()"/>        
        <apex:commandButton value="Order Trend Report" onclick="open_winOrderTrend()"/>
        <apex:commandButton value="Opportunity Pipeline" onclick="open_winOppPipeline()"/>
    <!--</apex:form>    -->
    </div>
    
    
    <apex:tabPanel switchType="client" selectedTab="name1" id="AccountTabPanel" headerClass="width:20%;">
      <apex:tab label="YOY Metrics" name="name1" id="tabOne">         
       
          <script>
          function open_winRevTrend()
          {//https://acelity--test.lightning.force.com/one/one.app#/sObject/00O18000000WsVWEA0/view
              //console.log('++++++++'+{!Account.Id});
              var url = "/one/one.app#/sObject/00O3D000000PKRoUAO/view?=undefined&fv0={!Account.Id}";
                // window.open("/one/one.app#/sObject/00O18000000WsXcEAK/view",true) // pass report id and account name
              
              window.open(url,true);
          }
          function open_winOppPipeline()
          {//https://acelity--test.lightning.force.com/one/one.app#/sObject/00O18000000WsVWEA0/view
              //window.open("/one/one.app#/sObject/00O18000000WryhEAC/view",true) // pass report id and account name
               var url = "/one/one.app#/sObject/00O3D000000PKRnUAO/view?=undefined&fv0={!Account.Id}";
               window.open(url,true);
          }
          function open_winOrderTrend()
          {//https://acelity--test.lightning.force.com/one/one.app#/sObject/00O18000000WsVWEA0/view
              //window.open("/one/one.app#/sObject/00O18000000WsbFEAS/view",true) // pass report id and account name
              var url = "/one/one.app#/sObject/00O3D000000PKRlUAO/view?=undefined&fv0={!Account.Id}";
               window.open(url,true);
          }
          </script> 
      
            <apex:pageBlock id="pbIdYOYRevenue" title="YOY Revenue" >
                                      
                    <apex:pageBlockSection columns="2">
                         
                         
                        <apex:outputField value="{!prevenadata.Total_Rev_YoY__c}"/>
                        <apex:outputField value="{!prevenadata.Rental_Revenue_YoY__c}"/>
                        <apex:outputField value="{!prevenadata.Veraflo_YoY__c}"/>
                         <apex:outputField value="{!prevenadata.AbThera_YoY__c}"/>
                         <apex:outputField value="{!prevenadata.Prevena_YoY__c}"/>
                         <apex:outputField value="{!prevenadata.VAC_Disp_Via_YoY__c}"/>
                        <apex:outputField value="{!prevenadata.Graft_Jacket_YoY__c}"/>
                        <apex:outputField value="{!prevenadata.Core_Revenue_YoY__c}"/>
                         
                         
                    </apex:pageBlockSection>                
            </apex:pageBlock>
          <apex:pageBlock id="pbIdYOYUnit" title="YOY Unit" >
                                      
                    <apex:pageBlockSection columns="2">
                         
                         
                        <apex:outputField value="{!prevenadata.YOY_Penetration__c}"/>                        
                        <apex:outputField value="{!prevenadata.Orders_YoY__c}"/>
                         <apex:outputField value="{!prevenadata.UIU_YoY__c}"/>
                         <apex:outputField value="{!prevenadata.Trans_YoY__c}"/>
                         
                         
                         
                    </apex:pageBlockSection>                
            </apex:pageBlock>
        
          </apex:tab> 
         <apex:tab label="YTD Metrics" name="name2" id="tabTwo">
             <!--<apex:form id="frmId2">-->
            <apex:pageBlock id="pbIdYTDRevenue" title="YTD Revenue" >
                <apex:pageBlockTable value="{!wrap}" var="wr">
                    
                    <apex:column headerValue=" " value="{!wr.str1}"/>
                    <apex:column headerValue="2016" value="{!wr.str2}"/>
                    <apex:column headerValue="2017" value="{!wr.str3}"/>
                   
                </apex:pageBlockTable>  
               </apex:pageBlock>
              <apex:pageBlock id="pbIdYTDUnits" title="YTD Units" >
                <apex:pageBlockTable value="{!wrapYTDUnits}" var="wr1">
                    
                    <apex:column headerValue=" " value="{!wr1.str1}" style="width:33%"/>
                    <apex:column headerValue="2016" value="{!wr1.str2}" style="width:33%"/>
                    <apex:column headerValue="2017" value="{!wr1.str3}" style="width:33%"/>
                   
                </apex:pageBlockTable>
                  </apex:pageBlock>
        <!--</apex:form>-->
         </apex:tab>
    </apex:tabPanel>
        </apex:form>
    <!--style="width:10%"-->
</apex:page>